<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Students Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="./JS files/admin.js"></script>
    <script src="student.js"></script>
    <link rel = "stylesheet" href="./CSS files/home.css">
    <link rel = "stylesheet" href="./CSS files/Choices.css">
    <script src="./JS files/home.js"></script>



    <style>

    </style>
  </head>

  <header>
    <div id="main">
          <div class ="logo">

              <img src="./images/World logo.jpg" alt="Nothing" width="200" height="150">
      </div>

      <div class = "title">
          <img src="./images/Lets translate green.png" alt="nothing" width ="900" height="100">
      </div>

      <button class ="button3" onclick="goBack()">Back</button>
      <button class ="button3" onclick="document.location='Homepage.html'">Home</button>
     
</div>
<hr style="height: 17px; width: 1500px; background-color:yellow;"/>
  
  </header>
  <body>

    <div class="pages">
      <div id="flex-container">
        <div style="flex-basis: 245px"; id="Atlas">
        <div class="btn-group2">
            
            <button class="tabs">
                <li class = "tab is-active">
              <a data-one data-tab ="1">All Students</a>
          </li></button>
          <button class="tabs">
              <li class = "tab ">
              <a data-one data-tab ="2">Year 7</a>
          </li></button>
          <button class="tabs">
            <li class = "tab ">
            <a data-one data-tab ="3">Year 8</a>
        </li></button>
        <button class="tabs">
            <li class = "tab ">
            <a data-one data-tab ="4">Year 9</a>
        </li></button>
      
      
         
        </div>
        </div>
        

        <div style="flex-basis: 30px">
            <div class="vl"></div></div>

            <div id="flex-container1" class="pages">
                <div style="flex-basis: 530px"; id="">

                <div class = "page is-active" data-page="1"> 
                    <div class="content"> 
              
                
                        <body ng-app="mainApp">
    
                            <H1>All Students</H1>
                            
                            <div ng-controller="ealstudentController">
                            
                            
                            <table border=1>
                                <tr>
                                  
                                  <th>Student ID</th>
                                  <th>First Name</th>
                                  <th>Surname</th>
                                  <th>DOB</th>
                                  <th>Email</th>
                                  <th>Year Group</th>
                                  <th>Language ID</th>
                                  <th>Photo</th>
                                  <th>select</th>
                                  <th>delete</th>
                                </tr>
                                <tr ng-repeat = "ealstudent in ealstudents">
                                  
                                  <td>{{ ealstudent.Student_ID }}</td>
                                  <td>{{ ealstudent.First_name }}</td>
                                  <td>{{ ealstudent.Surname }}</td>
                                  <td>{{ ealstudent.DOB }}</td>
                                  <td>{{ ealstudent.Email }}</td>
                                  <td>{{ ealstudent.Year_group }}</td>
                                  <td>{{ ealstudent.Language_ID }}</td>
                                  <td>{{ ealstudent.Photo }}</td>
                                 
                              
                                  
                                  <td><input type="button" ng-click="selectEALStudent(ealstudent.Student_ID)" value="Select"></td>
                                  <td><input type="button" ng-click="deleteEALStudent(ealstudent.Student_ID)" value="Delete"></td>
                                </tr> 
                                <tr>
                                  <td><input type="text" ng-model="new_ealstudent.Student_ID"></td>
                                  <td><input type="text" ng-model="new_ealstudent.First_name"></td>
                                  <td><input type="text" ng-model="new_ealstudent.Surname "></td>
                                  <td><input type="text" ng-model="new_ealstudent.DOB"></td>
                                  <td><input type="text" ng-model="new_ealstudent.Email"></td>
                                  <td><input type="text" ng-model="new_ealstudent.Year_group"></td>
                                  <td><input type="text" ng-model="new_ealstudent.Language_ID "></td>
                                  <td><input type="text" ng-model="new_ealstudent.Photo "></td>
                                  
                                  <td><input type="button" ng-click="createEALStudent()" value="Create"></td>
                                
                                  </tr>
                                 
                              </table>
                            <br>
                            <br>
                            
                            
                            
                              <div id="selected">
                                          
                                <table border=1>
                                  <tr>
                                  
                                    <th>Student ID</th>
                                    <th>First Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Year Group</th>
                                    <th>Language ID</th>
                                    
                                   </tr>
                                <tr>
                                  
                                
                            
                                <td>{{ selectedEALStudent.Student_ID }}</td>
                                <td>{{ selectedEALStudent.First_name }}</td>
                                <td>{{ selectedEALStudent.Surname }}</td>
                                <td>{{ selectedEALStudent.Email }}</td>
                                <td>{{ selectedEALStudent.Year_group }}</td>
                                <td>{{ selectedEALStudent.Language_ID }}</td>
                                </tr>
                            
                                </table>
                               
                                <br>
                                <br>
                            
                                <img src="{{selectedEALStudent.Photo}}" alt="student photo">
                                
                            
                               
                              </div>
                            </div>
        

              </div>
  
        </div>
            
            
              
              <div class = "page " data-page="2"> 
                <div class="content"> 
                    <H1>Year 7</H1>

<div ng-controller="y7ealstudentController">


<table border=1>
    <tr>
      
      <th>Student ID</th>
      <th>First Name</th>
      <th>Surname</th>
      <th>DOB</th>
      <th>Email</th>
      <th>Year Group</th>
      <th>Language ID</th>
      
      <th>select</th>
    
    </tr>
    <tr ng-repeat = "y7ealstudent in y7ealstudents">
      
      <td>{{ y7ealstudent.Student_ID }}</td>
      <td>{{ y7ealstudent.First_name }}</td>
      <td>{{ y7ealstudent.Surname }}</td>
      <td>{{ y7ealstudent.DOB }}</td>
      <td>{{ y7ealstudent.Email }}</td>
      <td>{{ y7ealstudent.Year_group }}</td>
      <td>{{ y7ealstudent.Language_ID }}</td>
      
  
      
      <td><input type="button" ng-click="selectY7EALStudent(y7ealstudent.Student_ID)" value="Select"></td>
  
    </tr> 
    <tr>
      <td><input type="text" ng-model="new_y7ealstudent.Student_ID"></td>
      <td><input type="text" ng-model="new_y7ealstudent.First_name"></td>
      <td><input type="text" ng-model="new_y7ealstudent.Surname "></td>
      <td><input type="text" ng-model="new_y7ealstudent.DOB"></td>
      <td><input type="text" ng-model="new_y7ealstudent.Email"></td>
      <td><input type="text" ng-model="new_y7ealstudent.Year_group"></td>
      <td><input type="text" ng-model="new_y7ealstudent.Language_ID "></td>
     
      
     
    
      </tr>
     
  </table>
<br>
<br>



  <div id="selected">
              
    <table border=1>
      <tr>
      
        <th>Student ID</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Year Group</th>
        <th>Language ID</th>
        
       </tr>
    <tr>
      
    

    <td>{{ selectedY7EALStudent.Student_ID }}</td>
    <td>{{ selectedY7EALStudent.First_name }}</td>
    <td>{{ selectedY7EALStudent.Surname }}</td>
    <td>{{ selectedY7EALStudent.Email }}</td>
    <td>{{ selectedY7EALStudent.Year_group }}</td>
    <td>{{ selectedY7EALStudent.Language_ID }}</td>
    </tr>

    </table>
   
    <br>
    <br>

    <img src="{{selectedY7EALStudent.Photo}}" alt="student photo">
    

   
  </div>
</div>

</div>
     </div>


           
     <div class = "page " data-page="3"> 
      <div class="content"> 
          <H1>Year 8</H1>

<div ng-controller="y8ealstudentController">


<table border=1>
<tr>

<th>Student ID</th>
<th>First Name</th>
<th>Surname</th>
<th>DOB</th>
<th>Email</th>
<th>Year Group</th>
<th>Language ID</th>
<th>Photo</th>
<th>select</th>
<th>delete</th>
</tr>
<tr ng-repeat = "y8ealstudent in y8ealstudents">

<td>{{ y8ealstudent.Student_ID }}</td>
<td>{{ y8ealstudent.First_name }}</td>
<td>{{ y8ealstudent.Surname }}</td>
<td>{{ y8ealstudent.DOB }}</td>
<td>{{ y8ealstudent.Email }}</td>
<td>{{ y8ealstudent.Year_group }}</td>
<td>{{ y8ealstudent.Language_ID }}</td>



<td><input type="button" ng-click="selectY8EALStudent(y8ealstudent.Student_ID)" value="Select"></td>

</tr> 
<tr>
<td><input type="text" ng-model="new_y8ealstudent.Student_ID"></td>
<td><input type="text" ng-model="new_y8ealstudent.First_name"></td>
<td><input type="text" ng-model="new_y8ealstudent.Surname "></td>
<td><input type="text" ng-model="new_y8ealstudent.DOB"></td>
<td><input type="text" ng-model="new_y8ealstudent.Email"></td>
<td><input type="text" ng-model="new_y8ealstudent.Year_group"></td>
<td><input type="text" ng-model="new_y8ealstudent.Language_ID "></td>




</tr>

</table>
<br>
<br>



<div id="selected">
    
<table border=1>
<tr>

<th>Student ID</th>
<th>First Name</th>
<th>Surname</th>
<th>Email</th>
<th>Year Group</th>
<th>Language ID</th>

</tr>
<tr>



<td>{{ selectedY8EALStudent.Student_ID }}</td>
<td>{{ selectedY8EALStudent.First_name }}</td>
<td>{{ selectedY8EALStudent.Surname }}</td>
<td>{{ selectedY8EALStudent.Email }}</td>
<td>{{ selectedY8EALStudent.Year_group }}</td>
<td>{{ selectedY8EALStudent.Language_ID }}</td>
</tr>

</table>

<br>
<br>

<img src="{{selectedY8EALStudent.Photo}}" alt="student photo">



</div>
</div>

</div>
</div>

<div class = "page " data-page="4"> 
  <div class="content"> 
      <H1>Year 9</H1>

<div ng-controller="y9ealstudentController">


<table border=1>
<tr>

<th>Student ID</th>
<th>First Name</th>
<th>Surname</th>
<th>DOB</th>
<th>Email</th>
<th>Year Group</th>
<th>Language ID</th>

<th>select</th>

</tr>
<tr ng-repeat = "y9ealstudent in y9ealstudents">

<td>{{ y9ealstudent.Student_ID }}</td>
<td>{{ y9ealstudent.First_name }}</td>
<td>{{ y9ealstudent.Surname }}</td>
<td>{{ y9ealstudent.DOB }}</td>
<td>{{ y9ealstudent.Email }}</td>
<td>{{ y9ealstudent.Year_group }}</td>
<td>{{ y9ealstudent.Language_ID }}</td>



<td><input type="button" ng-click="selectY9EALStudent(y9ealstudent.Student_ID)" value="Select"></td>

</tr> 
<tr>
<td><input type="text" ng-model="new_y9ealstudent.Student_ID"></td>
<td><input type="text" ng-model="new_y9ealstudent.First_name"></td>
<td><input type="text" ng-model="new_y9ealstudent.Surname "></td>
<td><input type="text" ng-model="new_y9ealstudent.DOB"></td>
<td><input type="text" ng-model="new_y9ealstudent.Email"></td>
<td><input type="text" ng-model="new_y9ealstudent.Year_group"></td>
<td><input type="text" ng-model="new_y9ealstudent.Language_ID "></td>




</tr>

</table>
<br>
<br>



<div id="selected">

<table border=1>
<tr>

<th>Student ID</th>
<th>First Name</th>
<th>Surname</th>
<th>Email</th>
<th>Year Group</th>
<th>Language ID</th>

</tr>
<tr>



<td>{{ selectedY9EALStudent.Student_ID }}</td>
<td>{{ selectedY9EALStudent.First_name }}</td>
<td>{{ selectedY9EALStudent.Surname }}</td>
<td>{{ selectedY9EALStudent.Email }}</td>
<td>{{ selectedY9EALStudent.Year_group }}</td>
<td>{{ selectedY9EALStudent.Language_ID }}</td>
</tr>

</table>

<br>
<br>

<img src="{{selectedY9EALStudent.Photo}}" alt="student photo">



</div>
</div>

</div>
</div>


  </body>
</html>